*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
.DS_STORE
.env
.grunt
.idea
.module-cache
.next/
.vscode
/out
__benchmarks__
_next/
_SpecRunner.html
chrome-user-data
coverage/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
node_modules
package-lock.json
remote-repo/
scripts/flow/*/.flowconfig
test/the-files-to-test.generated.js
.vsls.json
